---
import { CHANGELOG_RAW_URL, CHANGELOG_URL } from '@/constants';
import { marked } from 'marked';
import { Icon } from '../ui/icon';

const changelogResponse = await fetch(CHANGELOG_RAW_URL);
const changelogText = await changelogResponse.text();
const changelogMarkdown = marked(changelogText, {
  mangle: false,
  headerIds: false,
});
---

<div class='prose dark:prose-invert pb-12' id='changelog'>
  {
    changelogResponse.ok ? (
      <>
        <p class='flex flex-row items-center'>
          <Icon.info /> <span class='mx-2'>This file is fetched from</span>{' '}
          <a
            href={CHANGELOG_URL}
            target='_blank'
            rel='noopener norefferer'
            class='underline-offset-4 underline text-primary'
          >
            here
          </a>
          .
        </p>
        <Fragment set:html={changelogMarkdown} />
      </>
    ) : (
      <h2>Here should've been a changelog file, but something has gone wrong.</h2>
    )
  }
</div>
