---
import { AUTHOR_URL, KICK_URL } from '@/constants';
---

<div class='py-6'>
  <span class='text-muted'>
    KickKit made with ❤️ by <a
      href={AUTHOR_URL}
      target='_blank'
      rel='noopener norefferer'
      class='underline-offset-4 underline font-bold'>soruse</a
    > and friends | KickKit is not affiliated with or endorsed by <a
      href={KICK_URL}
      target='_blank'
      rel='noopener norefferer'
      class='underline-offset-4 underline font-bold'>kick.com</a
    ></span
  >
</div>
