<html lang='en' class='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/icon32.svg' />
    <meta name='viewport' content='width=device-width' />
    <title>KickKit</title>
  </head>
  <body>
    <div class='container overflow-hidden flex flex-col gap-y-20'>
      <slot />
    </div>
  </body>
</html>
